[submodule "roles/cloud-config"]
	path = roles/cloud-config
	url = git@github.com:ismc/cloud-config.git
[submodule "roles/cloud-destroy"]
	path = roles/cloud-destroy
	url = git@github.com:ismc/cloud-destroy.git
